body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
header,h1,p,nav{
    padding: 0px;
    margin: 0px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 10px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 50px;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    font-weight: bold;
    word-spacing: 0px;
    flex:1;
}
main div,footer div{
    display: flex;
    margin: 20px;
    border: 3px solid black;
    height: 500px;
    flex-direction: row;
    gap:100px;
    background-color: bisque;
}
main div img{
    width: 50%;
}
main div p{
    letter-spacing: 1px;
    flex-basis: 30%;
    align-self: center;
}
footer div{
    background-color: aquamarine;
    height: 30px;
}
footer p{
    letter-spacing: 1px;
    word-spacing: 0px;
    font-style: italic;
    font-family: Verdana, sans-serif;
}